<div>
  <br>
  <div style="text-align: center">
    <h1>Company list</h1>
    <p-table class="first" styleClass="p-datatable-responsive-demo" [value]="listCompanies" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th >id</th>
            <th >name</th>
            <th ></th>
            <th ></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-company>
          <tr>
            <td>
              <span class="p-column-title">Id</span>
              {{company.id}}
            </td>
            <td> 
              <span class="p-column-title">Company</span>
              {{company.name}}
            </td> 
            <td><i class="fa fa-edit"></i><a (click)="edit(company)">edit</a></td>
            <td><i class="fa fa-trash"></i><a (click)="deleteCompany(company.id)">delete</a></td>
          </tr>      
        </ng-template>
    </p-table>

    <div style="text-align: center">
      <button  routerLink="/edit-company" pButton type="button" icon="pi pi-plus-circle" label="add company" class="btn"></button>
      <button pButton type="button" (click)="back()" label="Back menu" icon="pi pi-bars" class="btn" ></button>
    </div>
  </div>
</div>