<body background=".\assets\images\p1.jpg" class="image" >
  <br>
  <div style="text-align: center">
    <p-table class="first" [value]="listCompanies" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th >id</th>
            <th >name</th>
            <th ></th>
            <th ></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-company>
          <tr>
            <td >{{company.id}}</td>
            <td> {{company.name}}</td> 
            <td><i class="fa fa-edit"></i><a (click)="edit(company)">edit</a></td>
            <td><i class="fa fa-trash"></i><a (click)="deleteCompany(company.id)">delete</a></td>
          </tr>      
        </ng-template>
    </p-table>

    <div style="text-align: center">
      <button  routerLink="/edit-company" pButton type="button" icon="pi pi-plus-circle" label="add company" class="ui-button-rounded ui-button-secondary"></button>
      <button pButton type="button" (click)="back()" label="Back menu" icon="pi pi-bars" class="ui-button-rounded ui-button-secondary" ></button>
    </div>
  </div>
</body>