.wrap-header{
    background-color: white;
    text-align: right;
    border:2px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    height: 60px;
}
.links a{
    background-color: #F3DFC7;
    border:0.02px solid black;
    border-radius: 10px;
    width: 80px;
    color: black !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight:bold;
    height: 100%;
}
.links{
    margin-right: 0px;
    display: block;
}
.logo img{
    width:60px;
    height: auto;
}
.logo{
    display: block;
    width: fit-content;
    right: 0px;
    position: absolute;
}
@media only screen and (max-width: 600px) {
    
}