.wrap-header{
    background-color: white;
    text-align: right;
    border:2px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}
.wrap-header a{
    background-color: #F3DFC7;
    border:0.02px solid black;
    border-radius: 10px;
    width:100px;
    color: black !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight:bold;
}