<div role="banner" class="wrap-header">
    <div class="links">
        <a class="link" pButton icon="pi pi-user" routerLink="/auto">Admin</a>
        <a class="link" pButton icon="pi pi-shopping-cart" routerLink="/customer-main">Customer</a>
        <a class="link" pButton icon="pi pi-tag" routerLink="/company">Companies</a>
        <a class="link" pButton icon="pi pi-tags" routerLink="/product">Products</a>
        <a class="link" pButton icon="pi pi-home" routerLink="/main-menu">Back Home</a>
    </div>
    <a aria-label="home page" class="logo" role="presentation">
        <img alt="make your makeup" src="../../assets/images/logo.png">
    </a>
</div>