
.divImg{ 
    display: inline-block; 
    border: 5px solid black; 
    height:300px;
    width:400px;
    text-align: center;
}

.divListBox{
    text-align: left;
    display: inline-block; 
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    margin-top: 0px;
}
.image{

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/images/p1.jpg');
    text-align: center;
}
.number{
    border:3px solid black;
    border-radius: 50% 50%;
    margin:7px;
    width:35px;
    display: inline-block;
    font-weight:700;
    height: max-content;
    background-color: antiquewhite;
  }
  button{
    background-color: #F3DFC7;
    color:black !important;
    border:1px solid black;
  }
  .instruction{
      background-color: white;
      font-weight:600;
  }
  .insruct-image{
      display:block;
      width: 80%;
      margin: auto;
      margin-top: 25%;
  }
 .alert{
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 40%;
    font-weight: bold;
  }
  .img-alert{
    width: max-content;
  }
  .spinner{
    position:absolute;
    top:25%;
    left:45%;
    font-size: 200px
  }
  .block-span{
    position:absolute;
    color: white;
    top:50%;
    left:35%;
    font-size: 50px;
    font-weight: 600;
  }
  @media only screen and (max-width: 600px) {
    .alert{
        width: 100%;
    }
    .product{
        display: none;
    }
    
    .divImg{
        width:97%;
        margin-bottom: 10px;
    }
    .instruction{
        display: flex;
    }
    .number{
        width:40px;
    }
    .divListBox{
        position: relative;
    }
    .spinner{
        left:25%;
    }
    .block-span{
        top:60%;
        left:25%;
        font-size: 30px;
      }
  }
    