<body background=".\assets\images\p1.jpg" class="image" >
        <br>
        <br>
        <div class=main_div>
                <h1>add/edit company</h1>
                <form [formGroup]="form" novalidate style="text-align: center" >
                        <input readonly  placeholder="id" pInputText formControlName="id"/>
                        <br><br> 
                        <input type=text placeholder="name" pInputText formControlName="name" [ngClass]="{'fail':form.controls.name.invalid &&form.controls.name.dirty}" />
                        <br><br>
                        <button pButton type="button" (click)="saveCompany()"  icon="pi pi-check-circle"  label="ok" class="ui-button-rounded ui-button-secondary"></button>
                        <br><br>
                        <button pButton type="button" icon="pi pi-times-circle"  (click)="cancel()" label="cancel" class="ui-button-rounded ui-button-secondary"></button>
                </form>
        </div>
</body>


