

.fail{
    border: 1px solid red; 
    
}
.main_div{
    height:400px;
    width: 450px ;
    margin:auto;
    display:block;
    text-align: center;
    background-color: white;
    padding-top: 35px;
    border: 1px solid black;
  }
  @media only screen and (max-width: 600px) {
    .main_div{
      width:100%;
      border: none;
    }
}