.mainDiv{
    text-align: center;
   
}
.logoDiv{
  background-image: url("../../assets/images/logo.png")
}

.fail{
  border: 1px solid red; 
}
.main_div{
  height: max-content;
  width: 450px ;
  margin:auto;
  display:block;
  text-align: center;
  background-color: white;
  padding-top: 15px;
  border:1px solid black;
}
label,p-header{
  font-weight: 700;
  font-size: 15px;
}
.wrap-list-box{
  margin-left:30%;
}
@media only screen and (max-width: 600px) {
  .main_div{
    width:100%;
    border: none;
  }
  .wrap-list-box{
    margin-left:26%;
  }
}