<div>
  <br>
  <div style="text-align: center">
    <h1>product list</h1>
    <p-table  #dt  styleClass="p-datatable-responsive-demo" [value]="listProducts" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
              <th >Id</th>
              <th >Company Name</th> 
              <th >Code In Company</th>
              <th>R</th>
              <th> G</th>
              <th> B</th>
              <th> Price</th>
              <th> Description</th> 
              <th></th>
              <th ></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <span class="p-column-title">Id</span>
              {{product.id}}
            </td>
            <td> 
              <span class="p-column-title">Company Name</span>
              {{product.company.name}}
            </td> 
            <td>
              <span class="p-column-title">Code In Company</span>
               {{product.codeInCompany}}
            </td> 
            <td>
              <span class="p-column-title">R</span>
               {{product.r}}
            </td> 
            <td>
              <span class="p-column-title">G</span>
              {{product.g}}
            </td> 
            <td>
              <span class="p-column-title">B</span>
               {{product.b}}
            </td> 
            <td>
              <span class="p-column-title">Price</span>
               {{product.price}}
            </td> 
            <td>
              <span class="p-column-title">Description</span>
               {{product.description}}
            </td> 
            <td>
              <i class="fa fa-edit"></i>
              <a (click)="edit(product)">edit</a>
            </td>
            <td>
              <i class="fa fa-trash"></i> 
              <a (click)="deleteProduct(product.id)">delete</a>
            </td> 
           </tr>      
        </ng-template>
    </p-table>
    <br/>
    <div style="text-align: center">
      <button routerLink="/edit-product" pButton type="button" icon="pi pi-plus-circle"  label="add product" class="btn"></button>
      <button pButton type="button" icon="pi pi-bars"  (click)="back()" label="Back menu" class="btn"></button>
    </div>
  </div>
</div>