.divDetails{
    text-align: left
}
.origImg{
    border:2px solid white;
    width:90%;
    display:block;
    margin: auto;
    height: 250px;
    text-align: center;
}
.lblImg{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    background-image: url('../../assets/images/p1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display:block;
    height: 1200px;
}
.img-card{
    height:250px;
    width:auto;
}
.divImg{ 
    display: inline-block; 
    text-align: center;
    
}
.divImg:hover{
    margin-top: +19px;
    transition: 0.99s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 9px 9px; 
}
h1{
    text-decoration-line: underline;
    font-size:30px;

}
label{
    font-weight: 600;
}
#c1 ,#c2, #c3{
    font-size:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    display: inline-block;
    text-align:center;
    margin-left: 25%;
    width: 200px;
    height: 100px;
    border-radius: 100px / 50px;
}
.img-card{
    height: 200
}
