.size{
    font-size: 15pt
}
.image{
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    display: block;
    background-image: url("..\..\assets\images\GT001.jpg");
    background-attachment: fixed;
}
.wrapper{
    background-color: white;
    font-family:sans-serif;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 70%;
}
.wrapper>h2{
    font-size: 60px;
}
.wrapper>h1{
    font-weight: bold;
}
.start{
    background-color: #F3DFC7;
    border:0.02px solid black;
    border-radius: 45px;
    width:15%;
    height:60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: black !important;
    padding-top:10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.center-div{
    background-color: white;
    margin: auto;
    display: block;
    padding: 20px 0 20px 0;
}
footer{
    background-color: white;
    text-align: center;
    height: 70px;
    font-weight:600;
    padding-top: 5px;
}

@media only screen and (max-width: 600px) {
    .image{
        background-image: url("..\..\assets\images\p1.jpg");
        background-size:cover;
        background-attachment:local;
        height:100%
    }
    .start{
        font-size: 20px;
        padding-top:15px;
        width: 70%;
    }
    .wrapper>h2{
        font-size: 40px;
    }
}