.size{
    font-size: 15pt
}
.image{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
    display: block;
    background-image: url("..\..\assets\images\GT001.jpg");
}