<div  class="image" >
    <app-header-top linksInput="1,1,0,0,0"></app-header-top>
    <div style="height:1000px;display:-ms-grid;text-align: center">
        <div class="center-div">
            <div class="wrapper">
                <h1>Find Your Make-Up Color</h1>
            </div>
            <div class="wrapper">
                <h2>Come and try to find the perfect make-up color for you</h2>
            </div>
            <a routerLink="/customer-main" class="start" pButton>Lets Start!</a>
        </div>
    </div>
    <footer>
        <span>All rights reserved to make your makeup</span>
    </footer>
</div>

