.foot{
    text-align: center;
}
h1{
    margin-top: 30px;
}
.alert{
    width: 30%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
.spinner{
    position:absolute;
    top:25%;
    left:45%;
    font-size: 200px
  }
@media only screen and (max-width: 750px) {
    .alert{
        width: 100%;
    }
    .spinner{
        left:25%;
    }
     
}