<p-blockUI  [blocked]="blockedDocument">
    <i class="pi pi-spin pi-spinner spinner"></i>
</p-blockUI>

<div  id="print-section" >
    <div style="width: 360px;margin:auto;background-color:blanchedalmond;text-align: left;padding: 4px  4px  4px  4px;border-radius: 15%;border-style: solid">
        <h1 style="font-size: 30px;text-decoration-line: underline;text-align: center">your makeup</h1>
        <label style="font-size: larger; font-weight: 700">id: </label><span>{{product.id}}</span><br/>
        <label style="font-size: larger; font-weight: 700">codeInCompany: </label><span>{{product.codeInCompany}}</span><br/>
        <span id="color"></span><br>
        <span style="display:none" id='r'>{{product.r}}</span>
        <span style="display:none" id='g'>{{product.g}}</span>
        <span  style="display:none" id='b'>{{product.b}}</span>
        <label style="font-size: larger; font-weight: 700">price: </label><span>{{product.price}}</span><br/>
        <label style="font-size: larger; font-weight: 700">description: </label><span>{{product.description}}</span><br/>
        <label style="font-size: larger; font-weight: 700">company name: </label><span>{{product.company.name}}</span><br/>
        <h2 style="font-size: 25px;text-align: center">thank you and have a good day</h2>
        <!-- <h3 style="font-size: 20px;text-align: center;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-justify: kashida;text-decoration-line:underline ">make your make-up</h3> -->
        <div style="height: 50px;margin: auto; text-align: center;" >
            <img alt="Make your makeup logo" style="height: 70px;margin: auto;" src="http://makeup4u.herokuapp.com/assets/images/logo.png"/>
        </div>
        <br/>
    </div>
</div>
<br><br>
<footer class="foot">
    <button pButton type="button"  label="send mail" (click)="emailFlag=!emailFlag;alert='';" class="btn" icon="pi pi-envelope" style="margin-right: .25em"></button>
    <button pButton type="button" (click)="print()" label="Print"  class="btn" icon="pi pi-print" style="margin-right: .25em"></button>
    <button pButton type="button" (click)="back()" label="Back to start" class="btn" icon="pi pi-chevron-circle-right" style="margin-right: .50em" ></button>
    <div class="alert-{{alertClass}} alert" *ngIf="alert">{{alert}}</div>
    <div *ngIf="emailFlag">
        <div role="alert" *ngIf="!myemail.validity.valid" class="alert alert-danger">
            <div>Email is invalid</div>
        </div>
        <div role="alert" *ngIf="myemail.validity.valid" class="alert alert-success">
            <div>Email is valid</div>
        </div>
        <input type="email" #myemail required placeholder="enter mail" [(ngModel)]="address"  pInputText /><br>
        <button pButton [disabled]="!myemail.validity.valid" (click)="email()" label="ok" class="btn" icon="pi pi-check" style="margin-right: .25em"></button>
    </div>
</footer>